0,30 * * * * ~/dev/waze/run_waze_requests_v2.sh ba_nr &>/tmp/waze.log
1,31 * * * * ~/dev/waze/run_waze_requests_v2.sh nr_ba &>/tmp/waze.log

2,32 * * * * ~/dev/waze/run_waze_requests_v2.sh ba_split &>/tmp/waze.log
3,33 * * * * ~/dev/waze/run_waze_requests_v2.sh split_ba &>/tmp/waze.log

4,34 * * * * ~/dev/waze/run_waze_requests_v2.sh ljubljana_pula &>/tmp/waze.log
5,35 * * * * ~/dev/waze/run_waze_requests_v2.sh pula_ljubljana &>/tmp/waze.log

6,36 * * * * ~/dev/waze/run_waze_requests_v2.sh zagreb_krk &>/tmp/waze.log
7,37 * * * * ~/dev/waze/run_waze_requests_v2.sh krk_zagreb &>/tmp/waze.log

8,38 * * * * ~/dev/waze/run_waze_requests_v2.sh becsehely_zadar &>/tmp/waze.log
9,39 * * * * ~/dev/waze/run_waze_requests_v2.sh zadar_becsehely &>/tmp/waze.log

10,40 * * * * ~/dev/waze/run_waze_requests_v2.sh spielfeld_zadar &>/tmp/waze.log
11,41 * * * * ~/dev/waze/run_waze_requests_v2.sh zadar_spielfeld &>/tmp/waze.log

15,45 * * * * ~/dev/waze/run_waze_requests_v2.sh voderady_exitpk &>/tmp/waze.log
16,46 * * * * ~/dev/waze/run_waze_requests_v2.sh bb_exitpk &>/tmp/waze.log
17,47 * * * * ~/dev/waze/run_waze_requests_v2.sh exitpk_pristavny &>/tmp/waze.log

18,48 * * * * ~/dev/waze/run_waze_requests_v2.sh maribor-macelj_trakoscan_dir_zagreb &>/tmp/waze.log
19,49 * * * * ~/dev/waze/run_waze_requests_v2.sh macelj_trakoscan_dir_slovenia-maribor &>/tmp/waze.log
20,50 * * * * ~/dev/waze/run_waze_requests_v2.sh macelj_trakoscan_dir_zagreb-lucko_dir_zadar &>/tmp/waze.log
21,51 * * * * ~/dev/waze/run_waze_requests_v2.sh lucko_dir_zagreb-macelj_trakoscan_dir_slovenia &>/tmp/waze.log
22,52 * * * * ~/dev/waze/run_waze_requests_v2.sh lucko_dir_zadar-exit_sveti_rok &>/tmp/waze.log
23,53 * * * * ~/dev/waze/run_waze_requests_v2.sh exit_sveti_rok-lucko_dir_zagreb &>/tmp/waze.log
24,54 * * * * ~/dev/waze/run_waze_requests_v2.sh exit_sveti_rok-zadar &>/tmp/waze.log
25,55 * * * * ~/dev/waze/run_waze_requests_v2.sh zadar-exit_sveti_rok &>/tmp/waze.log

* * * * * env > /tmp/env.output
